body {
    font-family: Verdana, Geneva, sans-serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    text-align: justify;
}

ul {
  margin: 0;
}
ul.dashed {
  list-style-type: georgian;
}



.panel-heading{
    background: black;  
}

a{
    color:#000;
text-decoration: none;

}

.impacted_word_0 {
    font-weight: bold;
    color: red;
    font-size: 25px;
}

.impacted_word_1 {
    font-weight: bold;
    color: red;
    font-size: 25px;
}

.impacted_word_2 {
    font-weight: bold;
    color: red;
    font-size: 25px;
}

.impacted_word_3 {
    font-weight: bold;
    color: red;
    font-size: 25px;
}

.impacted_word_4 {
    font-weight: bold;
    color: hotpink;
    font-size: 25px;
}

.impacted_word_5 {
    font-weight: bold;
    color: hotpink;
    font-size: 25px;
}

.impacted_word_6 {
    font-weight: bold;
    color: hotpink;
    font-size: 25px;
}

.impacted_word_7 {
    font-weight: bold;
    color: coral;
    font-size: 25px;
}

.impacted_word_8 {
    font-weight: bold;
    color: coral;
    font-size: 25px;
}

.impacted_word_9 {
    font-weight: bold;
    color: coral;
    font-size: 25px;
}


.invalid_insight {
    font-weight: bold;
    color: coral;
}

.typography {
    position: relative;
}

a.insight {
    color: #black;
    text-decoration: none;
}

a.insight:hover {
    color: #ff8957;
    text-decoration: none;
    
}

a {
    color: #black;
    font-style: bold;
    text-decoration: underline;
    
}

a:hover {
    color: #ff8957;
    
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.inspiration-nav-title{
    color: #bbf9ff;
}

a.inspiration-nav-title{
    
    font-family: otto;
    font-size: 60px;
    text-decoration: none;
    
}


a.inspiration-nav{
    
    text-decoration: none;
}

div.insights-list-container{
    border-style: solid;
    border-color: lightgray;
    border-width: 2px;
    padding:20px;
    height:400px;
    overflow:scroll;
    border-radius: 25px;
}


a.insight {
    display: block;
    height: 100%;
    width: 100%;
}

.ng-modal-title {
    font-weight:normal;
    font-size: 100%;
}

.ng-modal-close-x {
    font-weight: normal;
    font-family: Verdana, Geneva, sans-serif;
}

.ng-modal-dialog {
    z-index: 10000;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
    -webkit-box-shadow: 4px 4px 80px #000;
    -moz-box-shadow: 4px 4px 80px #000;
    -ms-box-shadow: 4px 4px 80px #000;
    -o-box-shadow: 4px 4px 80px #000;
    padding: 40px;
}