<div class="row" >
<div class="col-md-4">
    <a ng-href="#/inspiration-corner/admin/contributors">
    <div class="panel panel-default">
                <div class="panel-heading">
                    Contributors
                </div>
                <div class="panel-body">
                </div>
            </div>
    </a>
</div>
<div class="col-md-4">
    <a ng-href="#/inspiration-corner/admin/media/medium/add">
    <div class="panel panel-default">
                <div class="panel-heading">
                    Media
                </div>
                <div class="panel-body">
                </div>
            </div>
    </a>
</div>
</div>