<div ng-controller="attachAMomentController">
    <form>
    Title:
    <input type="text" ng-model="moment.title">
    <br>
    Type:
    <select class="form-control" ng-options="moment_type as moment_type.name for moment_type in moment_types track by moment_type.id" ng-model="moment.type"><option value="">None</option></select>
    
    
    Text:
    <textarea class="form-control" rows="5" ng-model="moment.text"></textarea>

    Link
    <input type="text" ng-model="moment.link">

        <input type="submit" ng-click="create_and_link_a_moment()" value="create and attach moment">

    </form>
</div>