
    <select ng-model="attach_type_selector">
        <option value="">None</option>
        <option value="moment">moment</option>
        <option value="medium">medium</option>
    </select>

    <div ng-switch="attach_type_selector">
        <div ng-switch-when="moment">
            <attach-a-moment show="show" insight="insight"></attach-a-moment>
        </div>
        <div ng-switch-when="medium">
            <attach-a-medium show="show" insight="insight"></attach-a-medium>
        </div>
        <div ng-switch-default></div>
    </div>
