<div class="row" >
<input type="checkbox" ng-model="checked" ng-init="checked=true" />
Search: <input ng-model="query">
<div ng-repeat="b in books | keywordsFilter:query">
    <div class="row" ng-href='#'>
        
        <div ng-switch on="checked">
            <div ng-switch-when="true">
                <div class="col-md-12">
                    <a href="#/inspiration-corner/books/{{b.id}}">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">{{ b.title }}</h3>
                                <span ng-bind-html='b.author | authorFilter' ></span>
                            </div>
                            <div class="panel-body">
                                <div styled-insight book="b">
                                        <!-- code to render a large video block-->
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div ng-switch-when="false">
                    <a href="#/inspiration-corner/books/{{b.id}}">
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">{{ b.title }}</h3>
                                </div>
                                <div class="panel-body">
                                    <div styled-keywords book="b">
                                            <!-- code to render a large video block-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
            </div>
        </div>
    </div> 
</div>
</div>