<img ng-src="{{book.images[0]}}" class="phone">

<h1>{{book.title}}</h1>
<hr>
<h3>Contributors</h3>
<ul class="dashed">
  <li ng-bind-html='book.contributors | authorFilter' ></li>
</ul>
<h3>Summary</h3>
<p>{{ book.summary }}</p>
<p>{{ book.pub_date }}</p>



<h3>Lessons Learned</h3>
       
            <table class="table table-hover">
                <tbody>
                    <tr ng-repeat="insight in insights">
                        <div styled-insight book="b"></div>
                        <td><span ng-bind-html='insight | insightLinkToUserFilter' ></span></td>
                    </tr>
                </tbody>
            </table>
        

<button type="button" ng-click="add_insight_modal()">Add Insight</button>


<div ng-controller="addInsightController">
    <modal-dialog show='dialogShown' width='500px' dialog-title='Add Insight' on-close='logClose()'>
        <ng-include src="'partials/add-insight.htm'"></ng-include>
    </modal-dialog>
</div>