<div class="row">
    <a a ng-href="#/inspiration-corner/home">
        <div class="col-md-4">
            <div class="panel panel-default panel-medium-types">
                <div class="panel-heading">
                    <h3 class="panel-title">Home</h3>
                </div>
                <div class="panel-body">
                    <img src="http://downloadicons.net/sites/default/files/home-home-icon-90085.png" width="100">
                </div>
            </div>
        </div>
    </a>
    <a a ng-href="#/inspiration-corner/media">
        <div class="col-md-4">
            <div class="panel panel-default panel-medium-types">
                <div class="panel-heading">
                    <h3 class="panel-title">Media</h3>
                </div>
                <div class="panel-body">
                    <img src="https://image.freepik.com/free-icon/social-media-effect_318-33261.png" width="100">
                </div>
            </div>
        </div>
    </a>
</div>