<h1>{{book.title}}</h1>
<hr>
<br>
<h3>Contributors</h3>
<ul class="dashed">
  <li ng-repeat="contribution in book.contributions" ng-bind-html='contribution | contributionFilter' ></li>
</ul>
<br>
<h3>Summary</h3>
<p>{{ book.summary }}</p>
<p>{{ book.pub_date }}</p>


<br>
<h3>Insights</h3>
<styled-insights-list insights-list="insights" link-type="user"></styled-insights-list>
        

<button type="button" ng-click="add_insight_modal()">Add Insight</button>


<div ng-controller="addInsightController">
    <modal-dialog show='dialogShown' width='500px' dialog-title='Add Insight' on-close='logClose()'>
        <ng-include src="'partials/add-insight.htm'"></ng-include>
    </modal-dialog>
</div>