<h1>{{book.title}}</h1>
<hr>
<h4 class="singular_medium_italics">{{ book.type.singular_eng_noun }}</h4>
<br>
<h3>Contributors</h3>
<ul class="dashed">
  <li ng-repeat="contribution in book.contributions" ng-bind-html='contribution | contributionFilter' ></li>
</ul>
<br>
<h3>Summary</h3>
<p>{{ book.summary }}</p>
<p>{{ book.pub_date }}</p>


<br>
<h3>Links</h3>
<ul class="dashed">
  <li ng-repeat="link in book.links">
      <a ng-href={{link.link}}>{{ link.link }}</a>
  </li>
</ul>

<h3>Insights</h3>
<styled-insights-list insights-list="insights" link-type="user" medium="book"></styled-insights-list>
        




