<div class="row">
    <div class="col-lg-6 col-lg-offset-3">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <strong>Sign Up</strong>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" role="form" ng-submit="signup()">
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">User Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="user_signup.username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Firstname Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="user_signup.first_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Last Name</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="username" placeholder="User Name" ng-model="user_signup.last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="user_signup.password1">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Confirm Password</label>

                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="confirm_password" placeholder="Confirm Password" ng-model="user_signup.password2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="confirm_password" placeholder="Email" ng-model="user_signup.email">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary pull-right">Sign up</button>
                        </div>
                    </div>
                    <a href="#/signin">Sign In</a>
                </form>
            </div>
            
        </div>
    </div>
</div>