<div ng-controller="InsightsComController">
    <div class="row">
        <form id="search-form" class="form-inline pull-right" role="form">
            <select class="form-control" ng-options="tag as tag.name for tag in tags track by tag.id" ng-model="tag_filter"><option value="">None</option></select>
            <div class="input-group">
                <input type="text" class="form-control search-form" placeholder="Insights Search" ng-model="insightsSearchQuery">
                <span class="input-group-btn"><button type="submit" class="btn btn-primary search-btn" data-target="#search-form" name="q"><i class="glyphicon glyphicon-search"></i>
											</button></span>
            </div>

        </form>
    </div>
    <br>
    <div ng-if="medium">
        <div class="pull-right">
            <button class="btn btn-xs" type="button" ng-click="add_insight_modal()">
                Add insight</button>
            <modal-dialog show='add_insight_dialogShown.value' width='500px' dialog-title='Add Insight' on-close='logClose()'>
                <ng-include src="'partials/add-insight.htm'"></ng-include>
            </modal-dialog>

        </div>
        <br>
        <br>
    </div>
    
    <div class="add-personal-insight">
        <div class="pull-right">
            <button class="btn btn-xs" type="button" ng-click="add_personal_insight_modal()">
                Add personal insight </button>
            <modal-dialog show='add_personal_insight_dialogShown.value' width='500px' dialog-title='Add Personal Insight'>
                <ng-include src="'partials/add-personal-insight.htm'"></ng-include>
            </modal-dialog>

        </div>
        <br>
        <br>
    </div>



    <div class="row">
        <div class="insights-list-container">
            <table class="table table-hover">
                <tr ng-repeat="insight in insightsList | insightsFilter:insightsSearchQuery:tag_filter">
                    <td ng-bind-html='insight | insightColorFilter:insight.related_medium_top_10_keywords | addLinkFilter:insight:linkType'></td>
                    <td ng-if="insight.moments.length">
                        <select class="form-control" ng-options="moment as moment.title for moment in insight.moments track by moment.id" ng-model="moment" ng-change="go_to_moment(moment)"><option value="">None</option></select>
                    </td>
                    <td>
                        <button typ="button" ng-click="attach_to_insight_modal(insight)">Attach</button>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    
    <modal-dialog show='attach_to_insight_dialogShown.value' width='500px' dialog-title='Attach to Insight' on-close=''>
                <attach-to-insight insight="attach_to_insight"></attach-to-insight>
</modal-dialog>
</div>


